# Temporarily allow access to /vendor libraries to not break bluetooth, but
# this must be fixed. (TODO: b/36570346)
# Bluetooth app depend on /vendor/lib64/libaptX_encoder.so

allow bluetooth vendor_file:file { r_file_perms execute };

# /dev/ttySAC0
allow bluetooth bluetooth_device:chr_file { rw_file_perms ioctl };
allow bluetooth bluetooth_device:chr_file { open read write ioctl };

# wcnss_filter
allow bluetooth wcnss_filter:unix_stream_socket connectto;

# /data/.cid.info
allow bluetooth wifi_data_file:file r_file_perms;
