allow hal_bluetooth sysfs:file rw_file_perms;
allow hal_bluetooth sysfs_usb:file w_file_perms;

# /dev/ttySAC0
allow hal_bluetooth bluetooth_device:chr_file { rw_file_perms ioctl };

# wcnss_filter
allow hal_bluetooth wcnss_filter:unix_stream_socket connectto;

# /data/.cid.info
allow hal_bluetooth wifi_data_file:file r_file_perms;

#allow hal_bluetooth ttyHS0_device:chr_file rw_file_perms;
allow hal_bluetooth bluetooth_device:chr_file rw_file_perms;

#allow hal_bluetooth start_hci_filter:unix_stream_socket connectto;
#allow hal_bluetooth wcnss_filter:unix_stream_socket connectto;

# wc_transport.start_hci and friends
set_prop(hal_bluetooth, wc_transport_prop)

# talk to system_server to set priority
allow hal_bluetooth fwk_scheduler_hwservice:hwservice_manager find;
allow hal_bluetooth system_server:binder call;

# read /persist/bdaddr.txt
allow hal_bluetooth persist_file:dir search;
allow hal_bluetooth persist_file:file r_file_perms;

allow hal_bluetooth system_data_file:file open;
allow hal_bluetooth bluetooth_prop:property_service set;
